@media (min-width:768px) {
    .container, .container-md, .container-sm {
      max-width: 720px;
    }
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

.display-5 {
    font-size: calc(1.425rem + 2.1vw);
    font-weight: 300;
    line-height: 1.2;
}
  
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}
  
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.my-4 {
    margin-top: 1.5rem!important;
    margin-bottom: 1.5rem!important;
}

.display-6 {
    font-size: calc(1.375rem + 1.5vw);
    font-weight: 300;
    line-height: 1.2;
}

.text-center {
    text-align: center!important;
}

.mb-4 {
    margin-bottom: 1.5rem!important;
}

@media (min-width:576px) {
    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

.row > * {
max-width: 100%;
padding-right: calc(var(--bs-gutter-x) * .5);
padding-left: calc(var(--bs-gutter-x) * .5);
margin-top: var(--bs-gutter-y);
}

.rounded-circle {
    border-radius: 50%!important;
}

.mx-auto {
    margin-right: auto!important;
    margin-left: auto!important;
}

.d-block {
    display: block!important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img, svg {
    vertical-align: middle;
}

.text-center {
    text-align: center!important;
}

.m-0 {
    margin: 0!important;
}
  
.display-6 {
    font-size: calc(1.375rem + 1.5vw);
    font-weight: 300;
    line-height: 1.2;
}
.my-1 {
    margin-top: .25rem!important;
    margin-bottom: .25rem!important;
}
  
.h6, h6 {
    font-size: 1rem;
}
  
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.2;
}
  
.text-muted {
    --bs-text-opacity: 1;
    color: #6c757d!important;
}
  
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  